<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Verify</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>

<h2>Sign Document</h2>

<form action="/sign" method="post" enctype="multipart/form-data">

  <div class="container">
    <label for="private_key"><b>Private Key</b></label>
    <input type="file" name="private_key" required>

    <label for="document"><b>Upload Document:</b></label>
    <input type="file" name="document">

    <button type="submit">Sign Document</button>
  </div>

</form>

</body>
</html>
