<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Verify</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>

<h2>Verify Document</h2>

<form action="/verify" method="post" enctype="multipart/form-data">

  <div class="container">
    <label for="public_key"><b>Public Key</b></label>
    <input type="file" name="public_key" required>

    <label for="signature"><b>Signature</b></label>
    <input type="file" name="signature" required>

    <label for="document"><b>Upload Document:</b></label>
    <input type="file" name="document">

    <button type="submit">Verify</button>
  </div>

</form>

</body>
</html>
